@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

/* font and color properties */

/* default properties */

body {
  color: #e5e7eb;
  font-size: 18px;
}

button {
  background-color: #3882f6;
  border: 0;
  border-radius: 5px;
  color: #f9faf8;
  font-weight: 700;
  font-size: 18px;
  padding: 5px 30px;
}

/* end of default properties */

/* hero and footer properties */

.hero-section,
.footer-section {
  background-color: #1f2937;
}

/* end of hero and footer properties */

/* logo and hero main text color */

.logo,
.hero-head {
  color: #f9faf8;
}

.logo {
  font-size: 24px;
  font-weight: 500;
}

.hero-head {
  font-size: 48px;
  font-weight: 900;
}

/* end of logo and hero main text color */

/* information section */

/* information head */

.information-head {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
}

.information-card-img {
  border: 5px solid #3882f6;
  border-radius: 10px;
}

.information-card-paragraph {
  color: #1f2937;
}

/* end of information section */

/* quote section */

.quote-section {
  background-color: #e5e7eb;
}

.quote-paragraph {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
}

.quote-person {
  color: #1f2937;
  font-size: 24px;
  font-weight: 700;
}

/* end of quote section */

/* cta section */

.cta-card-container {
  background-color: #3882f6;
  border-radius: 5px;
}

.cta-head {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 700;
}

.cta-button {
  border: 2px solid #f9faf8;
}

/* end of cta section */

/* end of font and color properties */

/* container sizing */

.hero-container,
.information-container,
.quote-container,
.cta-container,
.footer-container {
  max-width: 1100px;
  margin: 0 auto;
}

/* end of container sizing */

/* hero section */

/* navbar */

.navbar-container {
  padding: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}
/* end of navbar */

/* hero main */

.hero-main-container {
  padding: 100px 20px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.hero-texts-container {
  flex: 1 1 auto;

  width: 450px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero-texts-container * {
  margin: 5px 0;
}

.hero-img-container {
  flex: 2 1 auto;

  width: 550px;
  height: 250px;

  display: flex;
}

.hero-img {
  flex: 1 1 auto;

  background-color: #505050;
  padding: 20px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* end of hero main */

/* end of hero section */

/* information section */

.information-container {
  text-align: center;
}

.information-head {
  padding: 20px;
}

.information-cards-container {
  padding: 20px;
  padding-bottom: 100px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.information-card-item {
  height: 250px;
  width: 170px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.information-card-img {
  flex: 0 1 auto;

  height: 150px;
  width: 150px;
}

/* end of information section */

/* quote section */

.quote-container {
  padding: 100px 0;
}

.quote-paragraph {
  padding: 20px;
  margin: 0 auto;
  max-width: 790px;
}

/* end of quote section */
