@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

.hero-section,
.footer {
  background-color: #1f2937;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
}

.nav-links {
  color: #e6e7eb;
  font-size: 18px;
}

.hero-head {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.hero-paragraph {
  color: #e6e7eb;
  font-size: 18px;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
}

.information-head {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
}
