@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

/* font and color properties */

/* default properties */

body {
  color: #e5e7eb;
  font-size: 18px;
}

button {
  background-color: #3882f6;
  border: 0;
  border-radius: 5px;
  color: #f9faf8;
  font-weight: 700;
  font-size: 18px;
  padding: 5px 30px;
}

/* end of default properties */

/* hero and footer properties */

.hero-section,
.footer-section {
  background-color: #1f2937;
}

/* end of hero and footer properties */

/* logo and hero main text color */

.logo,
.hero-head {
  color: #f9faf8;
}

.logo {
  font-size: 24px;
  font-weight: 500;
}

.hero-head {
  font-size: 48px;
  font-weight: 900;
}

/* end of logo and hero main text color */

/* information section */

/* information head */

.information-head {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
}

.information-card-img {
  border: 5px solid #3882f6;
  border-radius: 10px;
}

.information-card-paragraph {
  color: #1f2937;
}

/* end of information section */

/* quote section */

.quote-section {
  background-color: #e5e7eb;
}

.quote-paragraph {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
}

.quote-person {
  color: #1f2937;
  font-size: 24px;
  font-weight: 700;
}

/* end of quote section */

/* cta section */

.cta-card-container {
  background-color: #3882f6;
  border-radius: 5px;
}

/* end of cta section */
