@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

.hero-section,
.footer-section {
  background-color: #1f2937;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
}

.nav-links {
  color: #e6e7eb;
  font-size: 18px;
}

.hero-head {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.hero-paragraph {
  color: #e6e7eb;
  font-size: 18px;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
}

.information-head {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
}

.quote-section {
  background-color: #e5e7eb;
}

.quote-paragraph {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
}

.cta {
  background-color: #3882f6;
  color: #f9faf8;
}

.cta-paragraph {
  color: #e5e7eb;
}

.footer-paragraph {
  color: #e5e7eb;
}

/* layout experiment 1 */

body {
  font-size: 18px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* .hero-section * {
  max-width: 1200px;
  margin: 0 auto;
} */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 1000px;
  margin: 0 auto;
  border: 1px solid red;
}

.navbar * {
  flex: 0 1 auto;
}

.logo {
  font-weight: 900;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.hero-section {
  border: 1px solid yellowgreen;
}

.hero {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  padding: 100px 20px;
  gap: 40px;
  width: 1000px;
  margin: 0 auto;
  /* border: 1px solid lightblue; */
}

.hero-texts {
  /* flex: 0 1 auto; */
  /* width: 450px; */

  /* display: flex;
  flex-direction: column;
  gap: 5px; */
  /* border: 1px solid red; */
}

.hero-texts * {
  margin: 5px 0;
}

/* .hero-button {
  flex: 0 1 auto;
} */

button {
  border: 0;
  border-radius: 7px;
  font-weight: 900;
  padding: 7px 35px;
}

.hero-img {
  /* width: 500px;
  height: 200px; */
  min-width: 500px;
  min-height: 200px;
  /* max-width: 800px; */
  /* max-height: 200px; */
  /* flex: 0 1 auto; */
  background-color: #616161;
  display: flex;
  /* margin: auto; */
  justify-content: center;
  align-items: center;
  color: #f9faf8;
  font-size: 18px;
  border: 1px solid red;
}

.information-section {
  padding: 100px;
}

.information {
  text-align: center;
  width: 1000px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid red;
}

.information-head {
  /* padding: 30px; */
  padding: 20px;
  /* width: 1000px; */
  margin: 0 auto;
  border: 1px solid red;
}

.information-cards {
  padding: 20px;
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  /* padding-bottom: 50px; */
  border: 1px solid red;
}

.information-card-item {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 150px;
  border: 1px solid violet;
}

.information-card-img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  border: 5px solid #3882f6;
}

.quote-section {
  padding: 100px;
}

.quote {
  padding: 20px;
  width: 1000px;
  margin: 0 auto;
  border: 1px solid red;
}

.quote-paragraph {
  padding: 20px;
  width: 800px;
  margin: 0 auto;
  border: 1px solid #3882f6;
}

.quote-person {
  padding: 0 20px;
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
  font-weight: 900;
  color: #1f2937;
}

.cta-section {
  padding: 100px;
}

.cta {
  padding: 20px;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid red;
  border-radius: 5px;
}

.cta-texts {
  padding: 20px;
  border: 1px solid red;
}

.cta-head {
  font-size: 24px;
  font-weight: 900;
}

.cta-paragraph {
  color: #e6e7eb;
  font-size: 18px;
}

.cta-button {
  border: 2px solid #f9faf8;
}

/* .cta-button {
  border: 5px solid #f9faf8;
  border-radius: 5px;
  font-weight: 900;
  padding: 5px 20px;
} */

.footer-section {
  padding: 10px;
}

.footer {
  text-align: center;
  padding: 20px;
  width: 1000px;
  margin: 0 auto;
  border: 1px solid red;
}

*/